<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Message
                </th>
                <th scope="col" class="px-6 py-3">
                    Reaction
                </th>
                <th scope="col" class="px-6 py-3">
                    Signalee
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="(reviews$ | async) as reviews">
                <ng-container *ngFor="let review of reviews">
                    <tr
                        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ review.title }}
                        </td>
                        <td class="px-6 py-4">
                            {{ review.message }}
                        </td>
                        <td class="px-6 py-4">
                            {{ review.reaction }}
                        </td>
                        <td class="px-6 py-4">
                            {{ review.signalee }}
                        </td>
                        <td class="px-6 py-4">
                            {{ review.date }}
                        </td>
                    </tr>
                </ng-container>
            </ng-container>

        </tbody>
    </table>
</div>